@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font-family);
}

:root {
    --white:#ffff;
    --red: #df2020;
    --pink: #fde4e4;
    --blue: #212245;
    --black: #212529;
    --gray: #777;
    --shadow: 0px 0px 23px -2px rgba(238, 231, 231, 0.63);
    --primary-font-family: 'Istok Web', sans-serif;
    --secondary-font-family: "RocknRoll One", sans-serif
}

/*  Media
@media(max-width:1300px) {}
@media(max-width:1200px) {}
@media(max-width:1050px) {}
@media(max-width:767px) {}
@media(max-width:428px) {}
*/